{% extends "index.html" %}
{%block post%}
	{%for post in post_list%}
      <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>

        <p class="blog-post-meta">{{post.created_on}} Категория:{{post.category.name}}</p>

        <p>{{post.content}}</p>



      </div><!-- /.blog-post -->
      <a href="{% url 'posts:post_update' post.id %}">Редактировать пост</a>
	{%endfor%}
{%endblock%}

{%block category%}
{%for category in categories%}
<a class="p-2 text-muted" href="{% url 'posts:category_posts' category.id %}">{{category.name}}</a>
{%endfor%}
{%endblock%}
